.success-message {
    background-color: #8adc2c;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    padding: 20px;
    color: #fff;
    margin: 30px 0;
    text-align: center;
  }
  
  .success-message h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
  .success-message p {
    font-size: 16px;
    margin-bottom: 0;
  }
  .success-message button{
    background-color: #6565d9;
    border-radius: 3px;
    margin-top: 5px;
  }